@charset "utf-8";
@font-face {
  font-family: 'Noto Sans KR';
  src: url(../font/NotoSansCJKkr-DemiLight.otf) format('opentype');
}
@font-face{
  font-family: 'Komorebi';
  src: url(../font/komorebi-gothic-P.ttf) format('opentype');
}
@font-face{
  font-family: 'HY Gothic';
  src: url(../font/HY-gothic.ttf) format('opentype');
}

/* 
  width 값에 따른 font-size 조절
 */
@media (max-width:320px){html{font-size:8px;}}
@media (min-width:321px) and (max-width:359px){html{font-size:10px;}}
@media (min-width:360px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}

/* Navi.vue - CSS */
#brand_en{ font-family: 'Noto Sans KR'; font-size: 1rem; color: #595757; }
#brand_kr{ font-family: 'Komorebi'; font-size: 1rem; color: #898989; }

.brand{ float: left; }
.nav_horizon { text-align: right; }
.nav_horizon > li{  display: inline;  padding-left: 18px; }
.nav_line{ color: #9fa0a0; opacity: 60%; }

#move_sns{ font-family: 'Noto Sans KR'; font-size: 0.5rem; color: #9fa0a0; }
#move_page{ font-family: 'Noto Sans KR'; font-size: 0.5rem; color: #727171; }

/* Bottom.vue - CSS */
.bottom_vertical > li{ font-family: 'HY Gothic'; font-size: 0.8rem; color: #9fa0a0; text-align: center; }
.bottom_line { color: #9fa0a0; opacity: 60%; }

/* Cotent.vue - CSS */
.component-content { width: 100%; text-align: center; }
.main_img { padding-left: 1%; padding-right: 1%; width: 50%; }
.layout-table { display: table; table-layout: fixed; }
.layout-table > div { display: table-cell; vertical-align: middle; position: relative; }
.layout-table > div > img { width: 100%; }
.layout-table > div > p { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: 'Noto Sans KR'; font-size: 1.2rem; color: white; }

/* AboutUs.vue - CSS */
.component-aboutUs{ width: 100%; text-align: center; }
.aboutUs_img{ width: 50%; }

/* Process.vue - CSS */
.component-process{ width: 100%; text-align: center; }
.process_txt{ font-size: 0.8rem; font-family: 'Noto Sans KR'; color: #595757; margin-top: 1rem; margin-bottom: 1rem;}
.process_img{ width: 100%; }

/* Portfolio.vue - CSS */
.component-portfolio{ width: 100%; display: flex; flex-wrap: wrap; }
.content-list{ width: calc(100%/3); float: left; }
.content-list-item-img{ width: 100%; height: calc(2*(60vw/3)/3); padding-left: 0.1rem; padding-right: 0.1rem;}
.content-list-item-title{ margin-left: 0.2rem; margin-top: 0.2rem; margin-right: 0.2rem; font-family: 'Noto Sans KR'; color: #727171; font-size: 0.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.portfolio_img{ width: 100%;}